# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cup_campaign_db

# MinIO
MINIO_ROOT_USER=minioadmind
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=minio:9000
EXTERNAL_DOMAIN=unadministrative-intergovernmental-jamika.ngrok-free.dev

# Flask Backend
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=cup_campaign_db
MY_APP_SECRET_KEY=change_me_to_a_random_string

# Google Gemini (AI)
GEMINI_API_KEY=change_me_to_a_random_string
OPENAI_API_KEY=change_me_to_a_random_string
OPIK_API_KEY=change_me_to_a_random_string

# Facebook Platform (optional)
FB_PAGE_ID=change_me_to_your_facebook_page_id
FB_ACCESS_TOKEN = change_me_to_a_random_string
IG_ACCESS_TOKEN = change_me_to_a_random_string
IG_ID =change_me_to_your_instagram_id
IG_GRAPH_URL=change_me_to_your_instagram_graph_url


NGROK_AUTHTOKEN=change_me_to_a_random_string